* {
    margin: 0;
    padding: 0;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), 
    url(images/header-banner.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}